@font-face {
  font-family: 'Fedra Serif H+L';
  src: url('../assets/FedraSerifH+L-BookItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fedra Serif H+L';
  src: url('../assets/FedraSerifH+L-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fedra Serif H+L';
  src: url('../assets/FedraSerifH+L-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
